*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.addBooks_Section{
  max-width: 500px;
  margin: 3em 0;
  margin-inline: auto;
  margin-bottom: 6em;
}

.addBooks_Form{
  display: flex;
  flex-direction: column;
  gap: .7em;
}

.divforBookTitle, .divforBookAuthor{
  width: 100%;
}

.addBooks_title_class, .addBooks_author_class{
  width: 100%;
}

.addBooks_div1, .addBooks_div2{
  width: 100%;
  display: flex;
  gap: .7em;
}

.divforFormat{
  width: 100%;
}

.divforBookTitle, .divforBookAuthor, .divforBookPage, .divfor_bookLang, .divforGenre, .divfor_bookDesc{
  width: 100% ;
  position: relative;
}

.addBook_bookPage_class, .addBook_bookLang_class, .addBook_bookGenre_class, .addBook_bookFormat_class, .addBook_bookDesc_class{
  width: 100%;
}

.addBooks_title_class, .addBooks_author_class, .addBook_bookPage_class, .addBook_bookLang_class, .addBook_bookGenre_class, .addBook_bookFormat_class{
  font-family: "Parkinsans", sans-serif;
  font-size: 1em;
  padding: .5em .6em;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid #333;
  height: 2.7em;
}

.addBook_bookDesc_class{
  font-family: "Parkinsans", sans-serif;
  font-size: .7em;
  padding: .5em .6em;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid #333;
  height: 10em;
}

.addBooks_format_label, .addBooks_desc_label{
  font-family: "Parkinsans", sans-serif;
  font-size: 1em;
}

.addBooks_title_label-focus, .addBooks_author_label-focus, .addBooks_page_label-focus, .addBooks_lang_label-focus, .addBooks_genre_label-focus{
  font-family: "Parkinsans", sans-serif;
  font-size: 1em;
  position: absolute;
  left: .66em;
  top: 1.55em;
  /* transform: translateY(-50%); */
  transition: 0.2s ease all;
}

.addBooks_title_label-notFocus, .addBooks_author_label-notFocus, .addBooks_page_label-notFocus, .addBooks_lang_label-notFocus, .addBooks_genre_label-notFocus{
  font-family: "Parkinsans", sans-serif;
  font-size: .8em;
  position: absolute;
  left: .5em;
  top: 6px;
  transition: 0.2s ease-in-out all;
  background-color: white;
  padding: 0 6px;
}

@media (max-width: 770px) {
  .addBooks_Section {
      margin: 3em 0;
      margin-inline: auto;
      padding: .7em;
  }
}

@media (max-width: 450px) {
  .addBooks_Section {
      margin: 1em 0;
      margin-inline: auto;
      padding: .7em;
  }
}